@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--clr-dark: 205 65% 8%;
--clr-light: 338 13% 88%;
--clr-white: 0 0% 95%;
--clr-gray: 345 2% 58%;
--clr-safe: 181 100% 53%;
--clr-safe--shade: 204 100% 23%;
--clr-cheap: 115 100% 53%;
--clr-cheap--shade: 115 100% 23%;
--clr-fast--secondary: 0 100% 53%;
--clr-fast--secondary--shade: 0 100% 23%;
--clr-fast--primary: 51 100% 53%;
--clr-fast--primary--shade: 51 100% 23%;

/* font-sizes */
/* --fs-1000: clamp(2rem, 15vw, 12rem); */
--fs-1000: 2rem;
--fs-1000: clamp(2rem, 0.23529411764705888rem + 11.76470588235294vw, 8rem);
--fs-900: clamp(2.8rem, 5.5vw + 2.2rem, 3.75rem);
/* --fs-800: 3.157rem; */
--fs-800: 1.7rem;
/* --fs-700: 1.5rem; */
--fs-700: 1.5rem;
--fs-700: clamp(1.5rem, 1.197941176470588rem + 2.013725490196079vw, 2.527rem);
--fs-600: 2.369rem;
/* --fs-600: 1.777rem; */
--fs-500: 1.333rem;
--fs-400: 1rem;
--fs-300: 0.707rem;
--fs-200: 0.707rem;

/* font-families */

/* --ff-serif: "Royale", serif;
--ff-sans: "Poppins", sans-serif;
--ff-sans--sec: Logirent, sans-serif; */
}

@media (min-width: 450px) {
:root {
  /* --fs-1000: clamp(3.125rem, 5vw + 3rem, 5.438rem); */
  /* --fs-1000: clamp(3.125rem, 11vw + 1rem, 25.375rem); */
  --fs-900: clamp(3.125rem, 5vw + 3rem, 5.438rem);
  --fs-800: 3.4rem;
  /* --fs-700: 2.527rem; */
  /* --fs-700: 2.827rem; */
}
}

@media (min-width: 1050px) {
:root {
  /* --fs-1000: 7.594rem; */
  --fs-800: 5.063rem;
  /* --fs-700: 3.375rem; */

  --fs-1000: 5rem;
  --fs-1000: clamp(5rem, -0.035411764705882476rem + 7.629411764705883vw, 7.594rem);

  --fs-700: 2.2rem;
  --fs-700: clamp(2.2rem, -0.08088235294117618rem + 3.455882352941176vw, 3.375rem);
  /* --fs-1000: clamp(5rem, 13vw + 1rem, 25.375rem); */
  /* --fs-900: clamp(5rem, 13vw + 1rem, 9.375rem); */
  /* --fs-900: 3rem;
  --fs-800: 2rem;
  --fs-700: calc(1.5vw + 1rem);
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem; */
}
}

@media (prefers-reduced-motion: no-preference) {
html {
  scroll-behavior: smooth;
}
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
box-sizing: border-box;
/* outline: 1px dashed red; */
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
margin: 0;
padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
font-weight: 400;
}

a,
ul,
li {
text-decoration: none;
list-style: none;
color: inherit;
}

/* set up the body */

/*    HOME     */

.home {
font-family: var(--ff-sans);
font-size: var(--fs-400);
background-color: hsl(var(--clr-dark));
color: hsl(var(--clr-light));
position: relative;
-webkit-transition: all 300ms linear;
transition: all 300ms linear;
perspective: 800px;
overflow-x: hidden;
z-index: 1;
}

/* make images easier to work with */
img,
picture {
max-width: 100%;
display: block;
height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
display: flex;
gap: var(--gap, 1rem);
}

.grid {
display: grid;
gap: var(--gap, 1rem);
}

.d-block {
display: block;
}

.d-none {
display: none;
}

.o-hidden {
overflow: hidden;
}

.o-visible {
overflow: visible;
}

.flow > *:where(:not(:first-child)) {
margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
--flow-space: 0.75rem;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
/* overflow: hidden; */
clip: rect(0, 0, 0, 0);
white-space: nowrap;
/* added line */
border: 0;
}

.skip-to-content {
position: absolute;
z-index: 9999;
background: hsl(var(--clr-white));
color: hsl(var(--clr-dark));
padding: 0.5em 1em;
margin-inline: auto;
transform: translateY(-100%);
transition: transform 250ms ease-in;
}

.skip-to-content:focus {
transform: translateY(0);
}

/* colors */

.clr-dark {
background-color: hsl(var(--clr-dark));
}

.clr-light {
background-color: hsl(var(--clr-light));
}

.clr-white {
background-color: hsl(var(--clr-white));
}

.clr-gray {
background-color: hsl(var(--clr-gray));
}

.clr-safe {
background-color: hsl(var(--clr-safe));
}

.clr-safe--shade {
background-color: hsl(var(--clr-safe--shade));
}

.clr-cheap {
background-color: hsl(var(--clr-cheap));
}

.clr-cheap--shade {
background-color: hsl(var(--clr-cheap--shade));
}

.clr-fast--primary {
background-color: hsl(var(--clr-fast--primary));
}

.clr-fast--primary--shade {
background-color: hsl(var(--clr-fast--primary--shade));
}

.clr-fast--secondary {
background-color: hsl(var(--clr-fast--secondary));
}

.clr-fast--secondary-shade {
background-color: hsl(var(--clr-fast--secondary--shade));
}

.text-dark {
color: hsl(var(--clr-dark));
}

.text-light {
color: hsl(var(--clr-light));
}

.text-white {
color: hsl(var(--clr-white));
}

.text-gray {
color: hsl(var(--clr-gray));
}

.text-safe {
color: hsl(var(--clr-safe));
}

.text-safe--shade {
color: hsl(var(--clr-safe-shade));
}

.text-cheap {
color: hsl(var(--clr-cheap));
}

.text-cheap-shade {
color: hsl(var(--clr-cheap--shade));
}

.text-fast--primary {
color: hsl(var(--clr-fast--primary));
}

.text-fast--primary--shade {
color: hsl(var(--clr-fast--primary--shade));
}

.text-fast--secondary {
color: hsl(var(--clr-fast--secondary));
}

.text-fast--secondary--shade {
color: hsl(var(--clr-fast--secondary--shade));
}

/* typography */

.ff-test {
font-family: var(--ff-serif);
}

.ff-serif {
font-family: var(--ff-serif);
}

.ff-sans {
font-family: var(--ff-sans);
}

.ff-sans--sec {
font-family: var(--ff-sans--sec);
}

.letter-spacing-1 {
letter-spacing: 4.75px;
}

.letter-spacing-2 {
letter-spacing: 2.7px;
}

.letter-spacing-3 {
letter-spacing: 2.35px;
}

.uppercase {
text-transform: uppercase;
}

.fs-1000 {
font-size: var(--fs-1000);
}

.fs-900 {
font-size: var(--fs-900);
}

.fs-800 {
font-size: var(--fs-800);
}

.fs-700 {
font-size: var(--fs-700);
}

.fs-600 {
font-size: var(--fs-600);
}

.fs-500 {
font-size: var(--fs-500);
}

.fs-400 {
font-size: var(--fs-400);
}

.fs-300 {
font-size: var(--fs-300);
}

.fs-200 {
font-size: var(--fs-200);
}

.fw-900 {
font-weight: 900;
}

.fw-800 {
font-weight: 800;
}

.fw-700 {
font-weight: 700;
}

.fw-600 {
font-weight: 600;
}

.fw-500 {
font-weight: 500;
}

.fw-400 {
font-weight: 400;
}

.fw-300 {
font-weight: 300;
}

.fw-200 {
font-weight: 200;
}

.fw-100 {
font-weight: 100;
}

/*************   global   **************/

.home__pages {
min-height: 100vh;
position: relative;
text-align: center;
margin-inline: auto;
justify-content: space-between;
}

.home__hero,
.hero__wrapper,
.hero__text {
flex-direction: column;
}

.hero__wrapper {
margin: 1em;
text-align: center;
}

.main-page__image,
.hero__image {
margin: auto;
max-width: 70%;
}

.hero__navigation {
--gap: 0;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 2em;
}

.home__navigation {
--gap: 0;
min-width: 100%;
justify-content: space-between;
}

.home-page__navigation {
font-size: 0.7rem;
/* font-size: clamp(.7rem, .7vw, 1rem); */
--gap: 0.1rem;
position: static;
/* align-self: center; */
/* bottom: 1em; */
width: 100%;
z-index: 999;
/* transition: transform 200ms ease-in-out; */
}

.home__cards {
/* position: relative; */
/* padding-inline: 5em; */
padding-block: 1em;
flex-grow: 0.3;
cursor: pointer;
}


/*************  logo  ******************************/

.hero__logo {
display: none;
}

@media (min-width: 450px) {
.home__cards {
  /* padding-inline: 1.5em; */
}

.main-page {
  /* flex-direction: column;
  flex-grow: 2; */
  --gap: 1em;
}
}

/*************   medium breakpoints   **************/

/*************   medium breakpoints   **************/

@media (min-width: 1050px) {
.hero__text {
  flex-grow: 0.5;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero__title {
  line-height: 1.3;
  text-align: center;
}

.hero__description {
  text-align: center;
}

.hero__description--text {
  line-height: 1.5em;
}

.hero__description--offer {
  padding-top: 1rem;
}

.main-page__image,
.hero__image {
  max-width: 100%;
}


.main-pages {
  position: relative;
  /* min-height: 100vh; */
  /* --gap: 1em; */
  /* flex-direction: column;
justify-content: space-evenly;
align-items: center; */
  /* justify-items: center; */
  place-content: center;
  align-content: space-between;
  text-align: center;
  margin-inline: auto;
  grid-template-areas:
    "divider"
    "title"
    "content"
    "image"
    "link";
}

.main-page__title {
  grid-area: title;
  letter-spacing: 0.1em;
}

.main-page__content {
  grid-area: content;

  max-width: 50ch;
  /* text-align: center; */
  /* --gap:0;
flex-direction: column; */
  line-height: 1.75;
  /*justify-content: space-between;*/
  justify-self: center;
}

.main-page__images {
  grid-area: image;
}

.main-page__link {
  grid-area: link;
}

.container-wrapper {
  max-width: 1600px;
  padding: 1em;
}

.home__hero {
  --gap: 1.5em;
  position: relative;
  /* overflow: hidden; */
  flex-direction: column;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
  transform-origin: center top;
}


.home__cards {
  /* position: relative; */
  /* padding-inline: 5em; */
  padding-block: 1em;
  flex-grow: 0.3;
  cursor: pointer;
}



.container-wrapper {
  padding: 2em 2em 0 2em;
}

.hero__logo {
  display: block;
  /* padding-left: 2em; */
}

.hero__logo::after {
  content: "";
  display: block;
  height: 4px;
  margin-left: 9rem;
  transform: translateY(-23px);
  /* background: linear-gradient(90deg, hsl(var(--clr-fast--primary)) 15%, hsl(var(--clr-safe)) 50%, hsl(var(--clr-cheap)) 85%); */
  /* background: linear-gradient(90deg, hsl(var(--clr-fast--primary) / 0) 0%,hsl(var(--clr-fast--primary)) 15%,hsl(var(--clr-safe)) 50%,hsl(var(--clr-cheap)) 85%, hsl(var(--clr-cheap) / 0) 100%); */
  background: linear-gradient(
    90deg,
    hsl(var(--clr-fast--primary) / 0) 0,
    hsl(var(--clr-fast--primary)) 20%,
    hsl(var(--clr-safe)) 40%,
    hsl(var(--clr-safe)) 60%,
    hsl(var(--clr-cheap)) 80%,
    hsl(var(--clr-cheap) / 0) 100%
  );
  /* border-radius: 50%;   */
}

.hero__wrapper {
  /* padding-left: 2em; */
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.hero__dark {
  min-height: 40vh;
  margin-inline: auto;
  padding-top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  /* line-height: 1.3; */
  text-align: left;
}

.hero__description {
  text-align: left;
}

.hero__description--website {
  display: inline-block;
}



.home-page__navigation {
  font-size: 0.7rem;
  /* font-size: clamp(.7rem, .7vw, 1rem); */
  --gap: 0.1rem;
  position: static;
  /* align-self: center; */
  /* bottom: 1em; */
  width: 100%;
  z-index: 999;
  /* transition: transform 200ms ease-in-out; */
}

.main-pages--left {
  grid-template-columns: minmax(0, 37rem) minmax(0, 37rem);
  grid-template-areas:
    "divider divider"
    "title image"
    "content image"
    "link link";
}

.main-pages--right {
  grid-template-columns: minmax(0, 37rem) minmax(0, 37rem);
  grid-template-areas:
    "divider divider"
    "image title"
    "image content"
    "link link";
}

.main-page__images {
  /* grid-column: span 2; */
  align-self: stretch;
}

.main-page__title {
  text-align: left;
  align-self: flex-end;
}

.main-page__content {
  text-align: left;
  align-self: flex-start;
}

.main-page__image {
  /* margin: inherit; */
  /* max-width: 80%; */
}

.main-page__link {
  padding-block: 1em;
}

.section__border-top {
  margin-top: -10em;
}

/******  page decoration   ********/

.page-decoration {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.side-border__decoration {
  top: 0;
  width: 60vw;
  height: 100vh;
  background-image: linear-gradient(
    112.49deg,
    hsl(var(--bgd-secondary-clr)) 30.05%,
    hsl(var(--bgd-primary-clr)) 89.89%
  );
}

.side-border__decoration--reverse {
  background-image: linear-gradient(
    112.49deg,
    hsl(var(--bgd-primary-clr)) 30.05%,
    hsl(var(--bgd-secondary-clr)) 89.89%
  );
}

.side-border__decoration--right {
  right: 0;
  transform: translateX(78%);
}
.side-border__decoration--left {
  left: 0;
  transform: translateX(-78%);
}

.side-border__decoration--fast {
  --bgd-secondary-clr: var(--clr-fast--secondary--shade);
  --bgd-primary-clr: var(--clr-fast--primary);
}
.side-border__decoration--safe {
  --bgd-secondary-clr: var(--clr-safe--shade);
  --bgd-primary-clr: var(--clr-safe);
}
.side-border__decoration--cheap {
  --bgd-secondary-clr: var(--clr-cheap--shade);
  --bgd-primary-clr: var(--clr-cheap);
}

.home__navigation__img {
  /* margin-top: 0.2em; */
  transform: scale(1.2);
}

.home__navigation__img--safe,
.home__navigation__img--cheap {
  /* margin-top: 0.4em; */
  transform: scale(1.3);
}

.home__navigation__img--safe {
  /* margin-top: 1em; */
}

.home__navigation__img--cheap {
  /* margin-top: 0.4em; */
  transform: scale(1.3);
}

.home__navigation__arrow {
  width: 4em;
}

/*  arrows color */

.arrow--fast {
  fill: hsl(var(--clr-fast--primary));
}

.arrow--safe {
  fill: hsl(var(--clr-safe));
}

.arrow--cheap {
  fill: hsl(var(--clr-cheap));
}

/*  rocket color */

.rocket-clr-primary {
  fill: hsl(var(--clr-fast--secondary));
}

.rocket-clr-primary--shade {
  fill: hsl(var(--clr-fast--secondary--shade));
}

.rocket-clr-light {
  fill: hsl(var(--clr-fast--primary));
}

/*   padlock color   */

.left-darker,
.dark-part-ring {
  fill: hsl(var(--clr-safe--shade));
}

.right-lighter,
.light-part-ring {
  fill: hsl(var(--clr-safe));
}

/*   SCISSORS COLORS   */

.scissor-blade-light {
  fill: hsl(var(--clr-light));
}

.scissor-blade-dark,
.scissor-holder {
  fill: hsl(var(--clr-gray));
}

.scissor-dollar {
  fill: hsl(var(--clr-cheap--shade));
}

.img-icon {
  stroke: hsl(var(--clr-gray));
  stroke-width: 5;
  fill-opacity: 0;
  max-width: 3em;
  height: 100%;
  /* overflow: visible; */
}

.home__card--fast:hover #Window {
  stroke: hsl(var(--clr-white));
  stroke-width: 10;
  transition: stroke 0.5s;
}

/*   icons animation   */

/* .home__card, */
.rocket,
.padlock,
.scissors,
/* .home__navigation__img, */
.home__navigation__arrow

/* .home-page__navigation  */ {
  transition: all 0.5s ease-in-out;
}

.padlock {
  transform-style: preserve-3d;
}

.home__card:hover .img-icon {
  fill-opacity: 1;
  stroke-width: 0;
  transform-origin: 50% 40%;
}

.home__card:hover .home__navigation__arrow {
  transform: scale(1.2);
}

.home__cards:hover .rocket {
  transform: rotate(90deg) scale(2);
  transform-origin: center;
}

/* .home__navigation__img {
position: absolute;
outline: 1px solid red;
} */

.home__card:hover .padlock {
  transform: rotateY(180deg);
}

.home__card:hover .scissors {
  transform: scale(1.2);
}

.home__card:hover {
  background-size: 5px 0%, 5px 100%, 100% 5px;
}

/********** PAGE SECTION   *****************/

.page-section {
  min-width: 100vw;
  min-height: 100vh;
  background-color: red;
}
}

/************************************************
overflow sections
*************************************************/

main.page__fast-on .home__hero,
main.page__safe-on .home__hero,
main.page__cheap-on .home__hero {
/* border-radius: 0 0 50px 50px; */
border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
transform: rotateX(-10deg);
-webkit-transition-delay: 0ms;
transition-delay: 0ms;
}

/*   
.link-1-on{
  --bd-clr: rgb(109, 102, 5);
}
.link-2-on{
  --bd-clr: rgb(4, 105, 4);
}
.link-3-on{
  --bd-clr: rgb(11, 11, 110);
} */



.page__fast,
.page__safe,
.page__cheap {
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translateY(100%); */
  /* padding: 100px 0; */
  width: 100%;
  min-height: 100vh;
  /* display: block; */
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: rgba(31,32,41,1); */
  background-color: hsl(var(--clr-dark));
  -webkit-transition: clipPathCircleOpen ease-in-out 700ms;
  transition: clipPathCircleOpen ease-in-out 700ms;
  z-index: 10;
  
  
  /* position: absolute;


  top: 15%;
  right: 0%;
  background: #464655;
  transition: clipPathCircleOpen ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none; */
}
.page__fast[data-state="opened"],
.page__safe[data-state="opened"],
.page__cheap[data-state="opened"] {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

/* .page__fast-close[data-state="opened"],
.page__safe-close[data-state="opened"],
.page__cheap-close[data-state="opened"] {
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
} */

.page__fast[data-state="closing"],
.page__safe[data-state="closing"],
.page__cheap[data-state="closing"]
/* .page__fast-close[data-state="closing"],
.page__safe-close[data-state="closing"],
.page__cheap-close[data-state="closing"]  */{
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.page__fast[data-state="closed"],
.page__safe[data-state="closed"],
.page__cheap[data-state="closed"]
/* .page__fast-close[data-state="closed"],
.page__safe-close[data-state="closed"],
.page__cheap-close[data-state="closed"] */
 {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100% ); }
  100% { clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100% ); }
}
@keyframes clipPathCircleClose {
  0% { clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100% ); }
  100% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100% ); }
}  

/* .page__safe,
.page__cheap {
position: fixed;
top: 0;
left: 0;
transform: translateY(100%);
width: 100%;
min-height: 100vh;
overflow-x: hidden;
overflow-y: auto;
background-color: hsl(var(--clr-dark));
-webkit-transition: all 300ms linear;
transition: all 300ms linear;
z-index: 10;
} */

.page__fast-close,
.page__safe-close,
.page__cheap-close {
position: absolute;
top: 2em;
right: 2em;
width: 30px;
display: block;
/* overflow: hidden; */
height: 30px;
-webkit-transition: all 200ms linear;
transition: all 200ms linear;
background-repeat: no-repeat;
background-position: center;
background-size: 36px 36px;
/* background-image: url("../images/close.svg"); */
background-color: transparent;
border: none;
cursor: pointer;
z-index: 11;
}

.page__fast-close:hover,
.page__safe-close:hover,
.page__cheap-close:hover {
transform: rotate(90deg);
}

/* main.page__fast-on .page__fast { */
/* top: 0; */
/* transform: translateY(0); */
/* display: block; */
/* -webkit-transition-delay: 400ms;
transition-delay: 400ms; */
/* animation: toggleVisibility 1s ease-in-out; */
/* } */

/* main.page__safe-on .page__safe {
transform: translateY(0);
-webkit-transition-delay: 400ms;
transition-delay: 400ms;

}

main.page__cheap-on .page__cheap {
transform: translateY(0);
-webkit-transition-delay: 400ms;
transition-delay: 400ms;

} */

/* @-webkit-keyframes toggleVisibility {
0% {display:none ; opacity: 0;}
1% {display: block ; opacity: 0;}
100% {display: block ; opacity: 1;}
} */

/********   DIVIDER TEXT    ****************/

.hero__divider--hero{
align-self: center;
}

.hero__divider--cards{
display: none;
}

@media (min-width: 1050px) {
.hero__divider--hero{
  display: none;
}

.hero__divider--cards{
  display: block;
}
}
.section__divider {
/* grid-area: divider; */
align-self: flex-start;
}

.section__headline,
.section__explore {
color: transparent;
-webkit-text-stroke: 1px hsl(var(--clr-gray));
}

.section__headline::after,
.section__explore::after {
position: absolute;
transform: translateX(-100%);
animation: divider-animate 4s ease-in-out infinite;
}

.text__gradient,
.section__headline::after,
.section__explore::after {
color: hsl(var(--bg-color));
}

.section__explore::after {
content: "explOre";
}

.section__headline--fast::after {
content: "faSt";
}

.section__headline--safe::after {
content: "Safe";
}

.section__headline--cheap::after {
content: "cheap";
}

.explore__text--hero::after {
--bg-color: var(--clr-gray);
/* --bg-color: var(--clr-light); */
}

.text__gradient--fast,
.explore__text--fast::after,
.section__headline--fast::after {
--bg-color: var(--clr-fast--primary);
/* --bg-color: var(--clr-light); */
}

.text__gradient--safe,
.explore__text--safe::after,
.section__headline--safe::after {
--bg-color: var(--clr-safe);
/* --bg-color: var(--clr-light); */
}

.text__gradient--cheap,
.explore__text--cheap::after,
.section__headline--cheap::after {
--bg-color: var(--clr-cheap);
/* --bg-color: var(--clr-light); */
}

@keyframes divider-animate {
0%,
100% {
  clip-path: polygon(
    0% 45%,
    16% 44%,
    33% 50%,
    54% 60%,
    70% 61%,
    84% 59%,
    100% 52%,
    100% 100%,
    0% 100%
  );
}

50% {
  clip-path: polygon(
    0% 60%,
    15% 65%,
    34% 66%,
    51% 62%,
    67% 50%,
    84% 45%,
    100% 46%,
    100% 100%,
    0% 100%
  );
}
}

/********* SVG ************/

/*************************/

.home__navigation__img {
/* margin-top: 0.2em; */
transform: scale(1.2);
}

.home__navigation__img--safe,
.home__navigation__img--cheap {
/* margin-top: 0.4em; */
transform: scale(1.3);
}

.home__navigation__img--safe {
/* margin-top: 1em; */
}

.home__navigation__img--cheap {
/* margin-top: 0.4em; */
transform: scale(1.3);
}

.home__navigation__arrow {
width: 4em;
}

.cards__blurred {
background: transparent;
border: solid 1px rgba(245, 247, 250, 0.06);
background-image: linear-gradient(
  101deg,
  rgba(245, 247, 250, 0),
  rgba(245, 247, 250, 0.12) 52%,
  rgba(245, 247, 250, 0)
);
backdrop-filter: blur(40px);
-webkit-backdrop-filter: blur(40px);
border-radius: 24px 0 24px 0;
/* transition: 0.4s; */
}

.cards__blurred--shadow {
box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4),
  -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
}

.home__card {
min-height: 100%;
padding: 1.5em 1.5em 0.5em;

/* flex-direction: column; */
justify-content: space-around;
align-items: center;
}

/*  arrows color */

.arrow--fast {
fill: hsl(var(--clr-fast--primary));
}

.arrow--safe {
fill: hsl(var(--clr-safe));
}

.arrow--cheap {
fill: hsl(var(--clr-cheap));
}

/*  rocket color */

.rocket-clr-primary {
fill: hsl(var(--clr-fast--secondary));
}

.rocket-clr-primary--shade {
fill: hsl(var(--clr-fast--secondary--shade));
}

.rocket-clr-light {
fill: hsl(var(--clr-fast--primary));
}

/*   padlock color   */

.left-darker,
.dark-part-ring {
fill: hsl(var(--clr-safe--shade));
}

.right-lighter,
.light-part-ring {
fill: hsl(var(--clr-safe));
}

/*   SCISSORS COLORS   */

.scissor-blade-light {
fill: hsl(var(--clr-light));
}

.scissor-blade-dark,
.scissor-holder {
fill: hsl(var(--clr-gray));
}

.scissor-dollar {
fill: hsl(var(--clr-cheap--shade));
}

.img-icon {
stroke: hsl(var(--clr-gray));
stroke-width: 5;
fill-opacity: 0;
max-width: 3em;
height: 100%;
/* overflow: visible; */
}

.home__card--fast:hover #Window {
stroke: hsl(var(--clr-white));
stroke-width: 10;
transition: stroke 0.5s;
}

/*   icons animation   */

/* .home__card, */
.rocket,
.padlock,
.scissors,
/* .home__navigation__img, */
.home__navigation__arrow

/* .home-page__navigation  */ {
transition: all 0.5s ease-in-out;
}

.padlock {
transform-style: preserve-3d;
}

.home__card:hover .img-icon {
fill-opacity: 1;
stroke-width: 0;
transform-origin: 50% 40%;
}

.home__card:hover .home__navigation__arrow {
transform: scale(1.2);
}

.home__cards:hover .rocket {
transform: rotate(90deg) scale(1.5);
transform-origin: center;
}

.home__card:hover .padlock {
transform: rotateY(180deg) scale(1.5);
}

.home__card:hover .scissors {
transform: scale(1.5);
}

.home__card:hover {
background-size: 5px 0%, 5px 100%, 100% 5px;
}

/****************************************************
                 background animation
*****************************************************/

.bg-circle__wrapper,
.bg-dot__wrapper {
position: absolute;
}

.bg-circle {
border-radius: 50%;
border: 1px solid hsl(var(--clr-fast--primary) / 0.3);
}

.bg-dot {
width: 10px;
height: 10px;
border-radius: 50px;
/* background: hsl(var(--clr-light)); */
background: hsl(var(--clr-cheap));
background: radial-gradient(
  circle,
  hsl(var(--clr-cheap)) 0%,
  hsl(var(--clr-cheap) / 0.1) 60%,
  hsl(var(--clr-white) / 0.5) 100%
);
}

.bg-circle__scale--1 {
display: none;
}

@media (min-width: 1050px) {
.bg-circle__scale--1 {
  display: block;
  width: 400px;
  height: 400px;
}
}


.bg-circle__scale--2 {
width: 100px;
height: 100px;
}

.bg-dot__scale--1 {
transform: scale(2);
}

.bg-dot__scale--2,
.bg-dot__scale--3 {
transform: scale(1);
}

.bg-dot__scale--4 {
transform: scale(0.5);
}

.bg-dot__scale--5 {
transform: scale(0.7);
}

.bg-circle__wrapper--1 {
top: 200px;
left: -100px;
-webkit-animation: animationFramesOne 15s linear infinite;
animation: animationFramesOne 15s linear infinite;
z-index: -1;
}

.bg-circle__wrapper--2 {
bottom: 250px;
right: 150px;
-webkit-animation: animationFramesOne 10s infinite linear;
animation: animationFramesOne 10s infinite linear;
z-index: -1;
}

.bg-dot__wrapper--1 {
top: 20%;
left: 50%;
-webkit-transform: translateY(-20%) translateX(-50%);
transform: translateY(-20%) translateX(-50%);
-webkit-animation: animationFramesOne 25s infinite linear;
animation: animationFramesOne 25s infinite linear;
z-index: -1;
}

.bg-dot__wrapper--2 {
top: 15%;
left: 5%;
-webkit-transform: translateY(-15%) translateX(-5%);
transform: translateY(-15%) translateX(-5%);
-webkit-animation: animationFramesOne 10s infinite linear;
animation: animationFramesOne 10s infinite linear;
z-index: -1;
}

.bg-dot__wrapper--3 {
bottom: 20%;
left: 35%;
-webkit-transform: translateY(-10%) translateX(-35%);
transform: translateY(-10%) translateX(-35%);
-webkit-animation: animationFramesOne 20s infinite linear;
animation: animationFramesOne 20s infinite linear;
z-index: -1;
}

.bg-dot__wrapper--4 {
bottom: 50%;
left: 50%;
-webkit-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);
-webkit-animation: animationFramesOne 15s infinite linear;
animation: animationFramesOne 15s infinite linear;
z-index: -1;
}

.bg-dot__wrapper--5 {
top: 20%;
right: 10%;
-webkit-transform: translateY(-20%) translateX(-10%);
transform: translateY(-20%) translateX(-10%);
-webkit-animation: animationFramesOne 20s infinite linear;
animation: animationFramesOne 20s infinite linear;
z-index: -1;
}

.lines {
/* position: absolute;
top: 0;
left: 0;
right: 0;
height: 100%;
margin: auto;
width: 90vw;
z-index: -1; */
position: absolute;
top: 0;
left: 0;
right: 0;
height: 100%;
padding-inline: 2em;
z-index: -1;

display: flex;
justify-content: space-around;
overflow: hidden;
}

.lines .line {
top: 0;
width: 1px;
left: 50%;
/* position: absolute;
width: 1px;
height: 100%;
top: 0;
left: 50%;
background: var(--black-color); */
/* overflow: hidden; */
}

.lines .line::after {
content: "";
display: block;
position: absolute;
height: 15vh;
width: 1px;
top: -50%;
/* left: 0; */
background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  from(rgba(255, 255, 255, 0)),
  color-stop(75%, #ffffff),
  to(#ffffff)
);
background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  hsl(var(--bg-color)) 75%,
  hsl(var(--bg-color)) 100%
);
-webkit-animation: run 15s 0s infinite;
animation: run 15s 0s infinite;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
border-radius: 50%;
}

.lines .line:nth-child(1) {
/* margin-left: -25%; */
}

.lines .line:nth-child(1)::after {
animation-delay: 0.5s;
--bg-color: var(--clr-fast--primary);
}

.lines .line:nth-child(2) {
/* margin-left: 0%; */
}

.lines .line:nth-child(2)::after {
animation-delay: 1s;
--bg-color: var(--clr-safe);
}

.lines .line:nth-child(3) {
/* margin-left: 25%; */
}

.lines .line:nth-child(3)::after {
animation-delay: 0s;
--bg-color: var(--clr-cheap);
}

@-webkit-keyframes run {
0% {
  top: -20%;
}

100% {
  top: 110%;
}
}

@keyframes run {
0% {
  top: -20%;
}

100% {
  top: 110%;
}
}

/*=============================================
Animaton
===============================================*/

@-webkit-keyframes rotateme {
from {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@keyframes rotateme {
from {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-webkit-keyframes animationFramesOne {
0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
}

20% {
  -webkit-transform: translate(73px, -1px) rotate(36deg);
  transform: translate(73px, -1px) rotate(36deg);
}

40% {
  -webkit-transform: translate(141px, 72px) rotate(72deg);
  transform: translate(141px, 72px) rotate(72deg);
}

60% {
  -webkit-transform: translate(83px, 122px) rotate(108deg);
  transform: translate(83px, 122px) rotate(108deg);
}

80% {
  -webkit-transform: translate(-40px, 72px) rotate(144deg);
  transform: translate(-40px, 72px) rotate(144deg);
}

100% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
}
}

@keyframes animationFramesOne {
0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
}

20% {
  -webkit-transform: translate(73px, -1px) rotate(36deg);
  transform: translate(73px, -1px) rotate(36deg);
}

40% {
  -webkit-transform: translate(141px, 72px) rotate(72deg);
  transform: translate(141px, 72px) rotate(72deg);
}

60% {
  -webkit-transform: translate(83px, 122px) rotate(108deg);
  transform: translate(83px, 122px) rotate(108deg);
}

80% {
  -webkit-transform: translate(-40px, 72px) rotate(144deg);
  transform: translate(-40px, 72px) rotate(144deg);
}

100% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
}
}

@-webkit-keyframes moveleftbounce {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

50% {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

100% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
}

@keyframes moveleftbounce {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

50% {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

100% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
}

/******** entrance animations  *********************/

.slide-in-left {
opacity: 0;
animation: slide-in-left 0.6s ease-in-out forwards;
}

.slide-in-right {
opacity: 0;
animation: slide-in-right 0.6s ease-in-out forwards;
}

.fade-in {
opacity: 0;
animation: fade-in 0.6s ease-in-out forwards;
}

.animation-delay-1 {
animation-delay: 0.2s;
}

.animation-delay-2 {
animation-delay: 0.4s;
}

.animation-delay-3 {
animation-delay: 0.6s;
}

.animation-delay-4 {
animation-delay: 0.8s;
}

.animation-delay-5 {
animation-delay: 1s;
}

.animation-delay-6 {
animation-delay: 1.2s;
}

@keyframes slide-in-left {
0% {
  transform: translateX(-40%);
  opacity: 0;
}

100% {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes slide-in-right {
0% {
  transform: translateX(40%);
  opacity: 0;
}

100% {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes fade-in {
0% {
  transform: scale(0.7);
  opacity: 0;
}

100% {
  transform: scale(1);
  opacity: 1;
}
}



/****************test button menu******************/

/* .container-kevin {
width: 95%;
max-width: 1000px;
margin: 0 auto;
}

.header-kevin {
background: #e54b4b;
color: #ebebd3;
padding: 1em 0;
position: relative;
}

.header-kevin::after {
content: "";
clear: both;
display: block;
}

.logo-kevin {
float: left;
font-size: 1rem;
margin: 0;
text-transform: uppercase;
font-weight: 700;
}

.logo-kevin span {
font-weight: 400;
}

.primary-navigation-kevin {
position: absolute;
top: 15%;
right: 0%;
background: #464655;
transition: clip-path ease-in-out 700ms;
margin: 0;
padding: 0;
list-style: none;
}
.primary-navigation-kevin[data-state="opened"] {
animation: clipPathCircleOpen 750ms ease-in-out forwards;
display: block;
}

.primary-navigation-kevin[data-state="closing"] {
animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation-kevin[data-state="closed"] {
display: none;
}

@keyframes clipPathCircleOpen {
0% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100% ); }
100% { clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100% ); }
}
@keyframes clipPathCircleClose {
0% { clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100% ); }
100% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100% ); }
}

.site-nav-kevin li {
border-bottom: 1px solid #575766;
}

.site-nav-kevin li:last-child {
border-bottom: none;
}

.site-nav-kevin a {
color: #ebebd3;
display: block;
padding: 2em 4em 2em 1.5em;
text-transform: uppercase;
text-decoration: none;
}

.site-nav-kevin a:hover,
.site-nav-kevin a:focus {
background: #e4b363;
color: #464655;
}

.site-nav--icon-kevin {
display: inline-block;
font-size: 1.5em;
margin-right: 1em;
width: 1.1em;
text-align: right;
color: rgba(255, 255, 255, 0.4);
}

.menu-toggle-kevin {
padding: 1em;
background: transparent;
border: 0;
position: absolute;
top: 0.5em;
right: 0.5em;
cursor: pointer;
}

.hamburger-kevin,
.hamburger-kevin::before,
.hamburger-kevin::after {
content: "";
display: block;
background: #ebebd3;
height: 3px;
width: 1.75em;
border-radius: 3px;
transition: all ease-in-out 500ms;
}

.hamburger-kevin::before {
transform: translateY(-6px);
}

.hamburger-kevin::after {
transform: translateY(3px);
}

[aria-expanded="true"] .hamburger-kevin {
transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger-kevin::before {
opacity: 0;
}

[aria-expanded="true"] .hamburger-kevin::after {
transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden-kevin {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
} */


/**         back to top           */

.scroll-to-top{
position: fixed;
bottom: 30px;
right: 30px;
opacity: 0;
visibility: hidden;
width: 10px;
height: 40px;
z-index: 251;
background-repeat: no-repeat;
background-position: top center;
background-size: 10px 40px;
cursor: pointer;
background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
transform: translateY(-15px);
-webkit-transition: all 250ms linear;
transition: all 250ms linear; 
}
.scroll-to-top:hover{
bottom: 32px;
}
.scroll-to-top.active-arrow{
opacity: 1;
visibility: visible;
transform: translateY(0);
}

.page-container{
position: relative;
min-height: 100%;
}
